#p-online{
  color: white;
    font-weight: normal;
}

.bg {
    position: relative;
    background-image: url("../../../public/backgroud.jpg");
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 50, 0.3);
    z-index: 0;
    backdrop-filter: blur(1px);
}

.main-center{
    color: white;
    position: absolute;
    top:40%;
    left: 40%;
    font-family: "Montserrat", sans-serif;
}

.main-center > p{
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin-bottom: 0;
}

.main-center > h1{
    font-weight: bold;
}

.green-point{
    width: 20px;
    height: 20px;
}

.div-button-shop{
    margin-top: 5%;
}

.a-button-shop{
    padding: 2% 15% 2% 15%;
    text-decoration: none;
    color: white !important;
    background-color: #1088fd;
    border-radius: 10%;
}

.a-button-shop:hover{
    background-color: #007df7;
}

.shop_car{
    margin-right: 2%;
}
