#p-online{
  color: white;
    font-weight: normal;
}

.main-center{
    color: white;
    position: absolute;
    top:40%;
    left: 40%;
    font-family: "Montserrat", sans-serif;
}

.main-center > p{
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin-bottom: 0;
}

.main-center > h1{
    font-weight: bold;
}

.green-point{
    width: 20px;
    height: 20px;
}

.div-button-shop{
    margin-top: 5%;
}

.a-button-shop{
    padding: 2% 15% 2% 15%;
    text-decoration: none;
    color: white !important;
    background-color: #5555ff;
    border-radius: 10%;
}

.a-button-shop:hover{
    background-color: #59acff;
}

.shop_car{
    margin-right: 2%;
}
